<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/layout :: head(title='About Us - Raven Soul Wellness')}">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<header th:replace="~{fragments/layout :: header}"></header>
<section class="hero-section-bordered">
    <div class="container">
        <div class="row horizontal-layout">
            <div class="column text-content">
                <p class="lead-small text-center">At Raven Soul Wellness, we guide individuals, couples, and families toward growth, healing, and authentic living. With compassionate counseling and coaching, we help you navigate life’s challenges, embrace your strengths, and create meaningful, lasting change.</p>
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>