<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
</head>
<body>
<h1>All Users</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    {{#users}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
        </tr>
    {{/users}}
    </tbody>
</table>
<a href="/users/add">Add New User</a>
</body>
</html>