
{{> header}}
{{> nav}}
<section class="hero-section-bordered">
    <div class="container">
        <div class="row horizontal-layout">
            <div class="column text-content">
                <p class="lead-small text-center">At Raven Soul Wellness, we believe every soul carries the power to
                    heal and begin again. We offer a space of compassion and courage, where stories are honored, hearts
                    are mended, and new paths are found. Like the raven, symbol of wisdom and renewal, we walk beside
                    you as you rediscover your strength, your voice, and your light.<br>

            </div>
            <div class="column center-align">
                <img src="images/forest.jpg" alt="Forest scenery" height="286" width="292">
            </div>
        </div>
    </div>
</section>
<section class="hero-section">
    <div class="row">
        <div class="container horizontal-layout">
            <div class="subcolumn top-align">
                <section class="hero-section">
                    <div class="row top-align">
                        <h2 class="support-item text-center">Your Journey, Your Way: Approaches to Wellness</h2>
                        <p class="support-item text-center">We offer compassionate, personalized guidance using proven
                            approaches
                            to
                            help you feel heard, understood, and supported:</p>
                    </div>
                    <div class="row">
                        <ul class="support-list text-center">
                            <li class="support-item" style="list-style: disc inside;">CBT & DBT: Shift unhelpful thoughts and build coping skills</li>
                            <li class="support-item" style="list-style: disc inside;">Somatic Therapy: Release stress stored in the body</li>
                            <li class="support-item" style="list-style: disc inside;">IFS & Narrative Therapy: Explore your inner self and reframe your
                                story
                            </li>
                            <li class="support-item" style="list-style: disc inside;">Person-Centered Therapy: Grow through empathy and acceptance</li>
                            <li class="support-item" style="list-style: disc inside;">Emotionally Focused Therapy (EFT): Strengthen connections and
                                relationships
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div class="subcolumn top-align text-center support-item">
                <div class="row top-align">
                    <h2 class="support-item text-center">Contact Us</h2>
                    <UL class="support-list">
                        <li>Call: +1 250-363-9420</li>
                        <li class="support-item"><h3 class="text-center mb-5">Appointments available:</h3></li>
                        <li class="support-item"> Mon-Fri 8:30am-9:00pm</li>
                        <li class="support-item"> Sat and Sun: 9:00am-5:00pm</li>
                        <li class="footer-links"><b><a href="booking">
                            <button class="btn" type="button">Book Us</button>
                        </a></b></li>
                        <li>&nbsp;
                        </li>
                        <li class="support-item"> Evenings upon request
                            with a specific therapist
                        </li>
                    </UL>
                </div>
            </div>
        </div>
    </div>

</section>

{{> footer}}
