<nav class="top-nav" role="navigation" aria-label="Main">
    <ul class="nav-tabs">
        <li><a class="nav-tab" href="/">Home</a></li>
        <li><a class="nav-tab" href="/services">Services</a></li>
        <li><a class="nav-tab" href="/about">About Us</a></li>
        <!--li><a class="nav-tab" href="/team">Team</a></li-->
        <li><a class="nav-tab" href="/supportGroups">Support Groups </a></li>
        <li><a class="nav-tab" href="/booking">Book With Us</a></li>
    </ul>
</nav>