{{> header}}
{{> nav}}
<section class="hero-section-bordered">
    <div class="container">
        <div class="row horizontal-layout">
            <div class="column text-content">
                <p class="lead-small text-center">{{content}}</p>
            </div>
        </div>
    </div>
</section>
{{> footer}}